<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemeMeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1DB4AB21D41A2BB00150647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1DB4AC61D41A2BB00150647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1DB4AD11D41A2BB00150647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
